body {
    margin: 0;
    font-family: Georgia, serif;

    display: grid;

    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";

    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
}
header{
    grid-area: header;
    background: #444;
    color: white;
}
header h1{
    padding: 20px;
    margin: 0;
}
nav{
    background: black;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 15px;

    display: flex;
    justify-content: space-around;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
main{
    grid-area: main;
    background: #c7c7c7;
    padding: 20px;
}
aside{
    grid-area: aside;
    background: #e0e0e0;
    padding: 20px;
}
footer{
    grid-area: footer;
    background: #444;
    color: white;
    text-align: center;
    padding: 40px;
}